<link rel="import" href="components/geomuxp/gc6500-settings-manager.html">


<div class="settings-block">
  <h4>{{__('GC6500 Settings')}}</h4>
  <gc6500-settings-manager></gc6500-settings-manager>
</div>

